asgiref==3.7.2
certifi==2023.11.17
charset-normalizer==3.3.2
coverage==7.4.0
Django==4.2.9
flake8==7.0.0
gunicorn==21.2.0
idna==3.6
isort==5.13.2
mccabe==0.7.0
packaging==23.2
pycodestyle==2.11.1
pyflakes==3.2.0
python-dotenv==1.0.0
requests==2.31.0
sqlparse==0.4.4
tzdata==2023.4
urllib3==2.1.0
